/* variables de color */
:root {
  --primary-color: #173831;
  --primary-hover: #235347;
  --focus-color: #271401;
  --card-radius: 20px;
}

/* fondo*/
body {
  background: url("/images/fondo.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

/* contenedor main */
.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* tarjeta */
.login-card {
  border-radius: var(--card-radius);
  overflow: hidden;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
  max-width: 900px;
  width: 100%;
}

/* panel izquierdo */
.left-side {
  background: var(--primary-color);
  color: #fff;
}

.left-side h4 {
  font-weight: bold;
}

/* inputs */
.form-control:focus {
  box-shadow: none;
  border-color: var(--focus-color);
}

/* boton login */
.btn-login {
  background: var(--primary-color);
  border: none;
  transition: 0.3s;
}

.btn-login:hover {
  background: var(--primary-hover);
  transform: translateY(-2px);
}

/* texto footer */
.footer-text {
  font-size: 0.85rem;
  color: #aaa;
}

/* responsive */
@media (max-width: 768px) {
  .left-side {
    display: none;
  }

  body {
    overflow-y: auto;
  }
}

/* boton olvidar contrasena*/
.custom-link {
  color: var(--primary-color);
  text-decoration: none;
  transition: 0.3s;
}

/* registrarse */
.custom-link:hover {
  color: var(--primary-hover);
  text-decoration: underline;
}